body {
  --color-bg: white;
  --color-bgDim: rgb(240, 239, 240);
  --color-fg: #454545;
  --color-accent: #0aa4a1;
  --color-border: lightgray;

  --header-height: 60px;
  --footer-height: 60px;

  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-serif: 'DM Serif Display', serif;

  color: var(--color-fg);
  background-color: var(--color-bg);
}

body.dark {
  --color-bg: #2e0385;
  --color-bgDim: #270371;
  --color-fg: #d1d1d1;
  --color-accent: rgb(161, 255, 230);
  --color-border: #65659c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}
